:root{
  --brandYellow:#F4CE14;
  --brandGreen: #495E57;
}

.slider{
  overflow-x: scroll;
}

.verticalScroll, .visibleVerticalScroll{
  overflow-y: scroll;
  scrollbar-width: thin;
}

.visibleVerticalScroll{
  margin-top: 10px;
}


.container{
  padding-left: 27%;
  padding-right: 27%;
}

header{
  width:13%;
  display:inline-flex;
  margin-top: 21px;
  padding-right: 0 !important;
}
.headerLogo{
  height: 63px;
  max-width: 100%;
  flex-shrink: 1;
}
/*---------------------End of Header CSS----------------*/

/*---------------------Start of Nav CSS----------------*/
nav{
  width: 33%;
  display: inline-flex;
  vertical-align: top;
  margin-top: 27px;
  padding-left: 0 !important;
}

nav ul{
  width: 100%;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start: 20px;
}

.navListItem{
  list-style-type: none;
  font-family: "Karla";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color:  var(--brandGreen);
}

a

/*---------------------End of Navbar CSS----------------*/

/*---------------------Start of Main CSS----------------*/
main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, min-content);
  width:100%;
}

/*---------------------Start of the About section CSS----------------*/
.aboutLittleLemon{
  background-color:  var(--brandGreen);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
}

#title, #darkTitle{
  padding-top: 50px;
  margin-bottom: -50px;
}

#title h1, #title h3, #darkTitle h1, #darkTitle h3{
  font-family: "Markazi Text";
  margin-top: 0;
  margin-bottom: 0;
}

#title h1, #darkTitle h1{
  font-size: 64px;
  color:  var(--brandYellow);
  line-height: .9;
}

#title h3, #darkTitle h3{
  font-size: 40px;
}

#title h3, #description{
  color: white;
}

#description, #descriptionOfOwners{
  font-family: "Karla";
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  padding-right: 40px;
  margin-bottom: 0;
  height: fit-content;
  letter-spacing: 1.28px;
}

button{
  background-color:  var(--brandYellow);
  border-radius: 16px;
  font-family: "Karla";
  font-weight: bold;
  font-size: 18px;
  width: 214px;
  height: 46px;
  border: 0;
  cursor: pointer;
}

#reserveButton{
  margin-right: 35px;
}

#restaurantFoodIMG{
  box-sizing: border-box;
  position: relative;
  top: 40px;
  grid-column-start: 2;
  grid-row: 1/4;;
  justify-self: end;
  height: 410px;
  width: 372px;
  max-width: 100%;
  border-radius: 16px;
  border: solid;
  object-fit: cover;
}
/*---------------------End of the About section CSS----------------*/

/*---------------------Start of the Weekly specials section CSS----------------*/
#specialsHeader{
  display:flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-family: "Markazi Text";
}

#productCardList{
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 1fr;
  margin-top: 35px;
  column-gap: 30px;
  margin-bottom: 60px;
}

.productCard{
  background-color: #EDEFEE;
  display:flex;
  flex-direction: column;
  min-width: 200px;
  grid-row: 1;
}

.foodCardIMG{
  max-width: 100%;
  min-height: 185px;
  object-fit: cover;
}

.cardDescriptionContainer{
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 100%;
}

.cardTitle{
  font-family: "Markazi Text";
  font-weight: 600;
  font-size: 20px;
  align-self: center;
  max-width: 70%;
}
.price{
  font-family: "Karla";
  font-weight: bold;
  align-self: center;
  color: #EE9972;
  align-self: center;
}

.productDescription{
  font-family: "Karla";
  color: var(--brandGreen);
  margin-top: 0;
  height: 92px;
}

.cardDescriptionContainer a{
  vertical-align: bottom;
  margin-top: 10px;
}

.deliveryIMG{
  position: relative;
  top: 3px;
  width: 17px;
  height: auto;
}

/*---------------------End of the Weekly specials section CSS----------------*/

/*---------------------Start of the Testimonials section CSS-----------------*/
.testimonials{
  background-color: var(--brandGreen);
}
#testimonialTitle{
  font-family: "Markazi Text";
  font-size: 36px;
  font-weight: 500;
  color:white;
  text-align: center;
  margin-top: 100px;
}

.testimonialGrid{
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  margin-top: 35px;
  column-gap: 3%;
  margin-bottom: 60px;
  min-width: 22.75%;
}

.reviewContainer{
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 100%;
  align-content: flex-start;
}

.testimonialReview{
  background-color: white;
}


.rating, .userName{
  font-family: "Karla";
  font-weight: bold;
  font-size: 14px;
}

.rating{
  width: 100%;
  max-height: 20px;
}

.profileIMG{
  width: 47px;
  height: 47px;
}

.userName{
  padding-left: 7px;
}

q{
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 128px;
}
/*---------------------End of Testimonials CSS----------------*/

/*-------------------- Start of About owners CSS ------------*/
.aboutOwners{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#darkTitle{
  margin-bottom: 150px;
}
#darkTitle h1{
  color: black;
}

#darkTitle h3{
  color:#5a5a5a
}
#descriptionOfOwners{
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

#ownersIMG{
  margin-top: 60px;
  position: relative;
}

#frontIMG{
  position: absolute;
  left: 40%;
  width:272px;
  height:338px;
  object-fit: cover;
  z-index: 1;
}

#backIMG{
  position: relative;
  top: 23%;
  width:272px;
  height:338px;
  object-fit: cover;
  transform: scaleX(-1);
}
/*----------------- End of About onwers CSS --------------*/

/*----------------- Start of Booking Calendar CSS ----------------*/
.reservationContainer{
  background-color: var(--brandGreen);
  padding-bottom: 50px;
}

#reservationTitle{
  font-size: 48px;
  color: var(--brandYellow);
  margin-top: 0;
  margin-bottom:15px;

}

.reservationOptions{
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  grid-template-rows: min-content;
  column-gap: 50px;
  align-self: center;
}

.gridBox{
  padding-top: 20px;
  padding-bottom: 20px;
}

.gridBox label{
  color: white;
  font-size: 18px;
  font-family: "Karla";
  font-weight: 600;
  width: 100%;
  display: block;
}

#indoor, #outdoor{
  margin-left: 20px;
}

#reservationDate:focus, #reservationDate{
  outline: none;
  border:0;
}

.defaultInputBox{
  font-size: 18px;
  font-family: "Karla";
  font-weight: 600;
  color: var(--brandGreen);
  background-color: #D9D9D9;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  text-align: center;
}

.changedInputBox{
  background-color: var(--brandGreen);
  color: white;
  font-size: 18px;
  font-family: "Karla";
  font-weight: 600;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.4);
  border: 1px;
}

/* ------------------------End of BookingOptions CSS -------------------*/

/*------------------------ Start of imageSection CSS -------------------*/
#imageSection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 25px;
  margin: 15px 0;
}


.bookingIMG{
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 210px;
  object-fit: cover;
  border-radius: 16px;
}

#goToUserInfoButton{
  margin-top: 30px;
  grid-row-start: 2;
  grid-column: 1/4;
  justify-self: center;
}

/*---------------------Start of AboutSection------------------------*/
section.aboutSection.container{
  height:25vh;
  padding-left: 0;
  padding-right: 0;
}

#imageBackground{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(./images/restaurant.jpg);
  background-size:cover;
  background-position: center;
  align-items: center;
}

#littleLemonSlogan{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: calc(3vw + 3vh);
  color: #556B2F;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.visionSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.visionTitle, .ownerTitles{
  font-size: 36px;
  margin-top: 0;
}

#visionText{
  font-family: "Karla";
  font-weight: 600;
  line-height: 1.5;
  padding-right: 15px;
}

.mediterraneanFood{
  height: 425px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: thick solid var(--brandGreen)
}

/*Need to fix shrinking of one side when screen shrinks*/

.ownersHeadshot{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  margin-bottom: 25px;
  column-gap: 10px;
}

.headshot{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 85%;
}

.ownerTitles{
  text-align: center;
  grid-column: 1/3;
  margin-bottom: 10px;
}


/*----------------------End of AboutSeciton-----------------------*/

/*----------------------Start of MenuPage CSS--------------------------*/

/*----------------------MenuList CSS --------------------------------*/

#menuList{
  margin-bottom: 20px;
}

#menuList h1{
  text-align: center;
  font-size: 48px;
  font-family: "Karla";
}

.itemCard{
  display: flex;
  padding: 10px 0;
  border-bottom: solid 2px  rgba(71, 71, 71, 0.3);;
}

.itemCardIMG{
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.itemCardDescription{
  padding-left: 10px;
  font-family: "Karla";
}

.itemName{
  margin: 0;
  font-weight: 600;
}

.itemDescription{
  color:#5a5a5a;
}

.itemPrice{
  color: var(--brandGreen);
  font-weight: 600;
}

#goToUserInfoButton{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*----------------------End of MenuPage CSS-----------------------------*/

/*----------------------Start of UserInfo CSS--------------------------*/
.userInfoSection{
  background-color: var(--brandGreen);
}

/*----------------------End of UserInfo CSS----------------------------*/


/*---------------------End of Main CSS-------------------------- */

/*---------------------Start of the Footer CSS----------------*/
footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  justify-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #D9D9D9;
}

.footerListTitle{
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color:  var(--brandGreen);
  margin-bottom: 5px;
  border-bottom: 2px solid var(--brandGreen);
}

.footerListItem{
  list-style-type: none;
  font-family: "Karla";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}

.footerLogo{
  height:247px;
}

/*---------------------Start of media queries for phone CSS----------------*/

@media screen and (max-width: 1117px){
  .navListItem{
    padding-top: 10px;
  }
}

@media screen and (max-width: 1230px) {
  .reservationOptions{
    grid-template-columns: repeat(1, minmax(220px,1fr));
    align-self: center;
  }
}

@media screen and (max-width: 810px) {
  .ownersHeadshot{
    grid-template-rows: repeat(3, min-content);
  }

  #marioAdrianB{
    grid-row-start: 3;
  }
}

@media screen and (max-width: 770px) {
  footer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  }
  .footerList{
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .footerList:last-child{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  button{
    width: 165px;
   height: 46px;
  }

  header{
    width: 100%;
    justify-content: center;
    padding:0 !important;
  }
  nav, nav ul{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 3px;
  }
  nav{
    width: 100%;
  }
  #title h1{
    font-size: 54px;
  }

  .testimonialGrid{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    row-gap: 20px;
    justify-content: center;
  }

  .aboutOwners{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
  }

  #darkTitle{
    margin-bottom: 30px;
  }

  #descriptionOfOwners{
    box-sizing: border-box;
    padding-right: 0;
  }

  #ownersIMG{
    margin-top: 0;
  }

  #frontIMG{
    left: 46%;
  }
}