/*
TODO:
  -Make it so the sections below the nav are 100% width and have
  the navbar have 10% padding on left and right
*/

body{
  padding-left: 10%;
  padding-right: 10%;
}

header{
  width: 33%;
  display:inline-flex;
  justify-content: space-between;
  margin-top: 21px;
}
.headerLogo{
  height: 63px;
  max-width: 100%;
  flex-shrink: 1;
}
/*---------------------End of Header CSS----------------*/

/*---------------------Start of Nav CSS----------------*/
nav{
  margin-top: 27px;
}

nav{
  width:66%;
  display: inline-flex;
  vertical-align: top;
  flex-shrink: 2;
}

nav ul{
  width: 100%;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.navListItem{
  list-style-type: none;
  font-family: "Karla";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: #495E57;
}

/*---------------------End of Navbar CSS----------------*/

/*---------------------Start of Main CSS----------------*/
main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  width:100%;
}

/*---------------------Start of the About section CSS----------------*/
.aboutLittleLemon{
  background-color: #495E57;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,auto);
}

#title h1, #title h3{
  font-family: "Markazi Text";
  margin-top: 0;
  margin-bottom: 0;
}

#title h1{
  font-size: 64px;
  color: #F4CE14;
}

#title h3, #description{
  color: white;
}

#description{
  font-family: "Karla";
}

#imgContainer{
  grid-column-start: 2;
  grid-row: 1/4;;
}
#restaurantFoodIMG{
  height: 410px;
  width: 372px;
  border-radius: 16px;
}
/*---------------------End of the About section CSS----------------*/

/*---------------------Start of the Weekly specials section CSS----------------*/

/*---------------------End of the Weekly specials section CSS----------------*/
/*---------------------End of Main CSS----------------*/

/*---------------------Start of the Footer CSS----------------*/
footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  justify-items: center;
  padding-top: 50px;
}

.footerListTitle{
  font-size: 20px;
  font-weight: 800;
  color: #495E57;
}

.footerListItem{
  list-style-type: none;
  font-family: "Karla";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}

.footerLogo{
  height:247px;
}

/*---------------------Start of media queries for phone CSS----------------*/

@media screen and (max-width: 1117px){
  .navListItem{
    padding-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .navListItem {
    flex-direction: column;
    align-items: center;
  }
  footer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  }
  .footerList{
    text-align: center;
    padding-left: 0;
  }
}