:root{
  --brandYellow:#F4CE14;
  --brandGreen: #495E57;
  --roundedCorners: 
}


.container{
  padding-left: 30%;
  padding-right: 30%;
}

header{
  width:13%;
  display:inline-flex;
  margin-top: 21px;
  padding-right: 0 !important;
}
.headerLogo{
  height: 63px;
  max-width: 100%;
  flex-shrink: 1;
}
/*---------------------End of Header CSS----------------*/

/*---------------------Start of Nav CSS----------------*/
nav{
  width: 27%;
  display: inline-flex;
  vertical-align: top;
  margin-top: 27px;
  padding-left: 0 !important;
}

nav ul{
  width: 100%;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start: 20px;
}

.navListItem{
  list-style-type: none;
  font-family: "Karla";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color:  var(--brandGreen);
}

/*---------------------End of Navbar CSS----------------*/

/*---------------------Start of Main CSS----------------*/
main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, min-content);
  width:100%;
}

/*---------------------Start of the About section CSS----------------*/
.aboutLittleLemon{
  background-color:  var(--brandGreen);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
}

#title{
  padding-top: 50px;
  margin-bottom: -50px;
}

#title h1, #title h3{
  font-family: "Markazi Text";
  margin-top: 0;
  margin-bottom: 0;
}

#title h1{
  font-size: 64px;
  color:  var(--brandYellow);
  line-height: .9;
}

#title h3{
  font-size: 40px;
}

#title h3, #description{
  color: white;
}

#description{
  font-family: "Karla";
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  padding-right: 40px;
  margin-bottom: 0;
  height: fit-content;
  letter-spacing: 1.28px;
}

button{
  background-color:  var(--brandYellow);
  border-radius: 16px;
  font-family: "Karla";
  font-weight: bold;
  font-size: 18px;
  width: 214px;
  height: 46px;
  border: 0;
}

#reserveButton{
  margin-right: 35px;
}

#restaurantFoodIMG{
  box-sizing: border-box;
  position: relative;
  top: 40px;
  grid-column-start: 2;
  grid-row: 1/4;;
  justify-self: end;
  height: 410px;
  width: 372px;
  max-width: 100%;
  border-radius: 16px;
  border: solid;
  object-fit: cover;
}
/*---------------------End of the About section CSS----------------*/

/*---------------------Start of the Weekly specials section CSS----------------*/
#specialsHeader{
  display:flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

#specialsHeader{
  font-size: 24px;
  font-family: "Markazi Text";
}

#productCardList{
  display: inline-grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr;
  margin-top: 35px;
  column-gap: 30px;
}

.slider{
  overflow-x: auto;
}

.productCard{
  background-color: #EDEFEE;
  display:flex;
  flex-direction: column;
}

.foodCardIMG{
  max-width:265px;
  min-height: 185px;
}
.cardDescriptionContainer{
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 100%;
}

.cardTitle{
  font-family: "Markazi Text";
  font-weight: 600;
  font-size: 20px;
}
.price{
  font-family: "Karla";
  font-weight: bold;
  align-self: center;
  color: #EE9972;
  justify-self: end;
}

.productDescription{
  font-family: "Karla";
  color: var(--brandGreen);
  margin-top: 0;
  height: 92px;
}

.cardDescriptionContainer a{
  vertical-align: bottom;
}

.deliveryIMG{
  position: relative;
  top: 3px;
  width: 17px;
  height: auto;
}

/*---------------------End of the Weekly specials section CSS----------------*/
/*---------------------End of Main CSS----------------*/

/*---------------------Start of the Footer CSS----------------*/
footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  justify-items: center;
  padding-top: 50px;
}

.footerListTitle{
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color:  var(--brandGreen);
  margin-bottom: 5px;
  border-bottom: 2px solid var(--brandGreen);
}

.footerListItem{
  list-style-type: none;
  font-family: "Karla";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}

.footerLogo{
  height:247px;
}

/*---------------------Start of media queries for phone CSS----------------*/

@media screen and (max-width: 1117px){
  .navListItem{
    padding-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  button{
    width: 165px;
   height: 46px;
  }

  header{
    width: 100%;
    justify-content: center;
    padding:0 !important;
  }
  nav, nav ul{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 3px;
  }
  nav{
    width: 100%;
  }
  #title h1{
    font-size: 54px;
  }
  footer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  }
  .footerList{
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .footerList:last-child{
    margin-bottom: 20px;
  }
}